<div class="jumbotron">

<h1>Hi, I'm Tyler!</h1>

</div>

<div class="jumbotron">

<h1>Work Experience</h1>


</div>

<div class="jumbotron">
<p>Project Manager
State of Utah
October 2014 – Present (5 months)
</p>

<p>
Manage scope and schedule for several on-going projects for various state agencies.</p>
</p>
</div>

<div class="jumbotron">
<p>
	Technical Support Specialist II
State of Utah
December 2011 – October 2014 (2 years 11 months)
</p>

<p>

Spearheaded the creation and maintenance of Campus online Knowledge Base. Collect and interpret information from technicians and developers to create a statewide standard for technicians to access troubleshooting and installation documents.

</p>

<p>
Support more than 3000 computers, network systems, printers and peripheral devices over a campus via in person or remotely through Bomgar and RDP. 
</p>

<p>

Consistently maintain an exceptional customer satisfaction rate and reach metrics goals on a regular basis
</p>

<p>

Utilize exceptional customer service skills to proactively interact with users in resolving computer or account related problems
</p>

</div>

<div class="jumbotron">
<p>
	Level 2 Desktop Support
eBay
January 2011 – January 2012 (1 year 1 month)
</p>

<p>
Project consultant to support the deployment of a campus-wide software solution to improve efficiency of company workflows

</p>

<p>
Support more than 1400 end-users with computer, network systems and peripheral devices over a 5 building campus via in person or remotely through Dameware, Bomgar and RDP


</p>
</div>

<div class="jumbotron">

<h1>Education/Certifications</h1>


</div>

<div class="jumbotron">
	<p>
Eagle Scout
Boy Scouts of America
May 2001
</p>

<p>
Certified Public Manager
Utah Department of Human Resource Management
June 2014 – Present
</p>
<p>

A+ Ceritification
CompTia
</p>
<p>

University of Utah
BS, Political Science
2006 – 2010

</p>

</div>

<div class="jumbotron">

<h1>Projects/skills</h1>


</div>


<div class="jumbotron">
<p>This site - Ruby on Rails</p>
<p>One Month Rails tutorial - <a href='https://sociallyawkward.herokuapp.com'>Socially Awkward</a></p>
<p>Member of Utah Ruby meetup - DRUG since 2014</p>
</div>

